<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mi Red Social</title>
</head>
<body>
    <h1>Estoy empezando con la red social</h1>
    <p><a href="acercade">Enlace a Acerca de</a></p>
    <h2>Usuarios</h2>
    <table>
        <tr th:each="usuario:${lista}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.email}"></td>
            <td> <a th:href="'/mostrar/' + ${usuario.id}">Mostrar msj</a></td>
        </tr>
    </table>

</body>
</html>